@import "tailwindcss";

/*scrollbar custom design*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow:none; 
  border-radius: 10px; */
  background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #374151; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}